body {
  background: wheat;
}

header {
  text-align: center;
  color: goldenrod;
  background: green;
  margin: 2rem;
}

button {
  margin: 1rem;
  padding: 0.5rem;
}

img {
  width: 100%;
  height: auto;
}
